* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

a{
  text-decoration:none;
}

header {
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}

.control-bar {
  width: 1024px;
  margin: 0 auto;
}

.logo {
  height: 70px;
  float: left;
}
nav {
  float: right;
  line-height: 70px;
}

.list-item {
  float: left;
  margin: 0 15px;
  list-style: none;
  color: #fff;
}
.list-item a {
  color: #fafafa;
}

.main-visual {
  height: 650px;
  width: 100%;
  text-align: center;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}


.main-visual-title {
  padding-top: 200px;
  font-size: 64px;
  color: #fafafa;
  margin-bottom: 10px;
}

.main-visual-text {
  font-size: 20px;
  color: #fafafa;
}
/*portfolio*/
.portfolio {
  width: 100%;
  background-color: #eceff1;
}
.portfolio-title {
  font-size: 32px;
  color: #000000;
  text-align: center;
  padding-top: 90px;
  margin-bottom: 8px;
}
.portfolio-border {
width: 70px;
height: 3px;
margin: 0 auto;
background-color: #ec715f;
}
.portfolio-text {
  font-size: 16px;
  text-align: center;
  margin:0 auto;
  padding:30px 0;
}
.portfolio-image-box {
  width:920px;
  padding-bottom: 90px;
  margin:0 auto;
}
.portfolio-image {
  width: 300px;
  height:250px;
  background-position: center;
  background-size: cover;
  float: left;
  margin: 0 10px 10px 0;
}
.portfolio-image:nth-child(3n){
  margin-right: 0;
}
.portfolio-image:nth-child(n+4){
  margin-bottom: 0;
}
.img1 {
  background-image: url(img/sketch.jpg);
}
.img2 {
  background-image: url(img/websuku.png);
}
.img3 {
  background-image: url(img/write.jpg);
}
.img4 {
  background-image: url(img/webcamp.png);
}
.img5 {
  background-image: url(img/talk.jpg);
}
.img6 {
  background-image: url(img/webcamp-mother.png);
}
/*feature*/
.feature {
  width: 980px;
  margin: 0 auto;
}
.feature-box{
  margin-bottom: 90px;
}

.feature-main-title {
  padding-top: 90px;
  margin-bottom: 8px;
  font-size: 32px;
  color: #000000;
  text-align: center;
}
.feature-border {
  width: 70px;
  height: 3px;
  background-color: #ec715f;
  margin:0 auto;
}
.feature-main-text {
font-size: 16px;
color: #000000;
padding: 30px 0;
text-align:center;
}
.feature-content {
  width: 320px;
  float: left;
}
.box2 {
  margin: 0 10px;
}
.feature-content-title {
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
}
.feature-content i {
  font-size: 60px;
  width: 100%;
  text-align: center;
}
.feature-content-text {
  font-size: 16px;
  color: #000000;
}
/*profile*/
.profile {
  width: 100%;
  background-color:#eceff1;
  margin: 0 auto;
}
.profile-box {
  padding-bottom: 90px;
  width: 1024px;
  margin: 0 auto;
}
.profile-main-title {
  padding-top: 90px;
  font-size: 32px;
  color: #000000;
  text-align: center;
}
.profile-border {
  width: 70px;height: 3px;
  background-color: #ec715f;
  margin: 0 auto;
}
.profile-main-text {
  font-size: 16px;
  color: #000000;
  padding:30px 0;
  text-align: center;
}
.picture-box {
  width: 512px;
  margin: 0 auto;
  float: left;
}
.picture {
  width: 250px;
  height: 250px;
  background-image: url(img/my-icon.jpg);
  border-radius: 50%;
  margin: 0 auto;
}

.profile-content-box {
  width: 512px;
  float: left;
}
.profile-content-title {
  font-size: 20px;
  padding-bottom: 5px;
  margin-top: 20px;
}
.profile-content-text1 {
  font-size: 16px;
  color: #000000;
  padding-bottom: 20px;
}

.profile-content-text2 {
  font-size: 16px;
  color: #000000;
}

/*contact*/
.contact {
  width: 100%;
  margin: 0 auto;
}
.contact-box {
  width: 800px;
  padding-bottom: 90px;
  margin: 0 auto;
}
.contact-main-title {
  padding-top: 90px;
  font-size: 32px;
  margin-bottom: 8px;
  color: #000000;
  text-align: center;
}
.contact-border {
  width: 70px;
  height: 3px;
  margin: 0 auto;
  background-color: #ec715f
}
.contact-main-text {
  font-size: 16px;
  color: #000000;
  padding: 30px 0;
  text-align: center;
}
.contact-content-left {
  width: 400px;
  float: left;
}
.contact-content-title {
  font-size: 20px;
  padding-bottom: 5px;
}
.link1 {
  text-decoration: underline #000000;
  color: #000000;
  padding-bottom: 20px;
}
.link2 {
  text-decoration: underline #000000;
  color: #000000;
}
.contact-content-right {
  width: 400px;
  float: left;
}
.social {
  margin: 0 auto;
}
.social i {
  font-size: 50px;
  margin-right: 20px;
}
.social i:last-child {
  margin-right: 0;
}
/*footer*/
footer {
  width: 100%;
  height: 60px;
  background-color: #ec715f;
  padding:20px 0;

}
.footer-text {
  font-size: 16px;
  color: #fafafa;
  text-align: center;
}

/*レスポンシブ対応*/
@media screen and (max-width: 768px) {
  .br-sp{
    display: none;
  }
  .br-pc {
    display: block;
  }
  header {
    width: 90%;
    height: 50px;
    margin: 0 auto;
  }
  .control-bar {
    width: 90%;
  }
  .logo {
    height: 40px;
    margin:5px 0;
  }
  .menu-box {
    float: right;
    width: 40px;
    height: 40px;
    margin-right: 25px;
    border:1px solid #fafafa;
    margin: 5px 0;
  }
  .menu-bar{
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: #fafafa;
  }
  .menu-bar:first-child{
    margin-top: 10px;
  }
  nav {
    float: none;
  }
  .nav-list {
    float: none;
  }
  .list-item {
    display: none;
    float: none;
    width: 100%;
    line-height: 50px;
    border-bottom: 1px solid gray;
    text-align: center;
    background-color: rgba(0,0,0,.9);
  }
  /*main-visual*/
  .main-visual {
    width: 90%;
    background-image: url(img/code.png);
    margin: 0 auto;
  }
  .main-visual-title {
    font-size: 40px;
    color: #fafafa;
    padding-top: 200px;
    margin-bottom: 10px;
  }
  .main-visual-text {
    font-size: 18px;
    color: #fafafa;
  }
  /*portfolio*/
  .portfolio {
    width: 90%;
    margin: 0 auto;
  }
  .portfolio-image-box {
    width: 90%;
  }
  .portfolio-box {
    width: 300px;
    margin: 0 auto;
  }
  .portfolio-image {
    margin: 10px 0;
  }
  .portfolio-image:nth-child(odd) {
    display: none;
  }
  .img2 {
    margin: 0;
  }
  .portfolio-image:last-child {
    margin-bottom: 0;
  }
  /*feature*/
  .feature {
    width: 90%;
  }
  .feature-content {
    float: none;
    margin: 0 auto;
  }
  .box2 {
    margin-top: 10px;
  }
  .box3 {
    margin-top: 10px;
  }
  /*profile*/
  .profile {
    width: 90%;
    margin: 0 auto;
  }
  .profile-box {
    width: 90%;
    margin: 0 auto;
  }
  .picture-box {
    width: 90%;
    float: none;
  }
  .profile-content-box {
    width: 90%;
    margin: 0 auto;
    float: none;
    text-align: center;
  }
  .profile-content-title:first-child {
    margin-top: 20px;
  }
  /*contact*/
  .contact {
    width: 90%;
    text-align: center;
  }
  .contact-box {
    width: 90%;
    text-align: center;
  }
  .contact-content-right {
    width: 90%;
    margin: 0 auto;
    float: none;
  }
  .contact-content-left {
    width: 90%;
    margin: 0 auto;
    float: none;
  }
.contact-content-right h3 {
  margin-top: 20px;
  }
  /*footer*/
  footer {
    width: 90%;
    margin: 0 auto;
  }
}